<div class="panel panel-default encounter-manager-row">
	<div class="panel-heading">
		<div class="encounter-manager-row--name panel-title">
			{{ vm.storedEncounter.name }}
		</div>
		<span class="encounter-manager-row--active pull-right" ng-if="vm.encounter.reference == vm.storedEncounter">
			Active
		</span>
		<div class="encounter-manager-row--exp">
			Exp: {{ vm.calculateExp(vm.storedEncounter) }}
		</div>
	</div>
	
	<div class="panel-body" ng-repeat="(id, qty) in vm.storedEncounter.groups">
		<span ng-if="qty > 1">{{ qty }}x</span>
		{{ vm.monsters.byId[id].name }}
	</div>

	<div class="panel-footer">
		<div>
			<button class="encounter-manager-row--load-button" 
				ng-click="vm.load(vm.storedEncounter)" ng-if="vm.encounter.reference != vm.storedEncounter">
				Choose
			</button>
			<button class="encounter-manager-row--remove-button" ng-click="vm.remove(vm.storedEncounter)">
				Remove
			</button>
		</div>
	</div>
</div>
